

<div eas-title-bar></div>

<ul class="nav nav-tabs" id="tabs">
  <li class="active"><a href="#all" data-toggle="tab">All</a></li>
  <li><a href="#in-progress" data-toggle="tab">In Progress</a></li>
  <li><a href="#completed" data-toggle="tab">Completed</a></li>
</ul>
		
<div class="tab-content">
  <div class="tab-pane active" id="all">
  
    <table class="table table-condensed ">
    <tr data-ng-repeat="item in available_games">
    <td>{{ item.title }}</td> 
    <td>
        <div data-ng-show="item.start_date && item.complete_date">
            <button class="btn btn-default btn-block" data-ng-click="selectGameCategory(item.game_id)"><i class="icon-lock" data-ng-show="item.auth_code_to_play"></i> Replay Game</button>
        </div>
        <div data-ng-show="!item.start_date">
            <button class="btn btn-default btn-block" data-ng-click="selectGameCategory(item.game_id)"><i class="icon-lock" data-ng-show="item.auth_code_to_play"></i> Start Game </button>
        </div>
        <div data-ng-show="item.start_date && !item.complete_date">
            <button class="btn btn-default btn-block" data-ng-click="loadGameInstance(item.game_instance_id)"><i class="icon-lock" data-ng-show="item.auth_code_to_play"></i> Resume Game</button>
        </div>
    </td>
    </tr>
    </table>
  
  </div>
  <div class="tab-pane" id="in-progress">
  
    <table class="table table-condensed ">
    <tr data-ng-repeat="item in available_games" data-ng-show="item.start_date && !item.complete_date">
    <td>{{ item.title }}</td> 
    <td>
        <button class="btn btn-default btn-block" data-ng-click="loadGameInstance(item.game_instance_id)">Resume Game</button>
    </td>
    </tr>
    </table>

  
  </div>
  <div class="tab-pane" id="completed">

<table class="table table-condensed ">
    <tr data-ng-repeat="item in available_games" data-ng-show="item.start_date && item.complete_date">
    <td>{{ item.title }} ({{ item.complete_date}})</td> 
    <td>
        <button class="btn btn-default btn-block" data-ng-click="selectGameCategory(item.game_id)">Replay Game</button>
    </td>
    </tr>
    </table>

  
  </div>
</div>        
        
        
