

<div eas-title-bar></div>


<ul class="list-group">
  <li class="list-group-item" data-ng-repeat="item in current_item.clues" data-ng-show="item.viewed">
  {{ $index +1 }}. {{ item.clue_text }}
  </li>
</ul>


<div data-ng-show="!current_item.is_completed">	    	
    <button class="btn btn-primary" data-ng-click="checkAnswer()">Check Answer</button>
    <button class="btn btn-primary" data-ng-click="showNextClue()">Get Clue</button>
</div>
<div>
    {{ scan_result }}
</div>

<div data-ng-show="current_item.is_completed">	    	
    <p>
        You scored {{ current_item.points }} points for this item.
    </p>
    <button class="btn btn-primary" data-ng-click="backToList()">Back to item list</button>
</div>

<hr>
<!--- 
{{ current_item.qr_answer_code }}
--->